
@media screen and (min-width: 480px) {
        body {
            font-family: 'Times New Roman', Times, serif, sans-serif;
            font-style: italic;
            font-size: 20px;

            background-color: lightblue;
            background-image: url("https://d2rqvd0kuag1qx.cloudfront.net/blog-15.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }


        
  }

       
       

        .site-header {
            padding: 20px;
            text-align: center;
            background-color: azure;
            border-bottom: 4px solid;
        }

        #mainHeading {
            color: green;
            margin-bottom: 10px;
            background-color: yellow;   
        }

        .shbox {
            background-color: aliceblue;
            padding: 14px;
            margin-bottom: 25px;
            text-align: center;
            font-style: normal;
        }
        
        .floatBoxMain {
            width: 90%;
            margin: 30px auto;
        }

        .floatImage {
            float: left;
            width:200px;
            margin-right: 20px;
            border: 4px solid black;
        }

        .floatBox {
            width: 35%;
            padding: 15px;
            border: 4px solid black;
            background-color: white;
            margin-bottom: 20px;
        }

        .Left {
            float: left;
            margin-right: 5%;
        }

        .Right {
            float: left;
        }

        .clearfix {
            clear: both;
        }

        .topnav {
        overflow: hidden;
        margin-top: 5%;
        width: 90%;
        }

        .menu {
        float: left;
        display: block;
        background-color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }
        
        .menu:hover{
            color:aqua;
        }


        .pracTwoBoxes {
            width: 90%;
            margin: 30px auto;
            overflow: hidden;
        }

        .twoBoxes {
            width: 50%;;
        }

        .prac {
        float: left;
        background-color: pink;
        padding: 10px;
        border: 3px solid black;
       }

       .box {
        float: left;
        border: 3px dotted black;
        padding: 12px;
        margin:  10px;
        margin-right: 500px;
        background-color: beige;
       }
      
       .box p {
        color: purple;
        font-weight: bold;
       }

        .layout {
            display: block;
        }
       
       #spanPrac {
        font-weight: lighter;
       }

        .LehmanMusicBuilding {
            width: 50vw;
            height: 20vh;
            border: 4px double black;
            background-color: brown;
            
            transition: transform 0.4s ease, box-shadow 0.4s ease;
        }

        .LehmanMusicBuilding:hover {
            

            transform: scale(1.08) rotate(2deg);
            box-shadow: 0 15px 30px rgb(0,0,0.2);
        }


       .circleImage {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            background-color: white;
            border: 4px double black;
       }

       .outerDiamond {
            width: 250px;
            height: 250px;

            rotate: 45deg;
            border: 4px double black;
            margin: 30px auto;
            margin-left: 50px;
            overflow: hidden;
       }

       .diamondImage {
            width: 100%;
            height: 100%;

            object-fit: cover;
            rotate: -45deg;
            margin-left: 20px;
            transform: scale(1.52); 
       }

       /* margin: right top bottom left */

        table {
            border-collapse: collapse;
            width: 50%;
            background-color: blanchedalmond;
        }

        th, td {
            border: 1px solid rgb(0, 0, 0);
            padding: 0px;
        }

        p {
            color: red;
        }

        p:hover {
            color: blue;
        }

        .site-footer {
            text-align: right;
            border-top: 4px solid;
            background-color: azure;
        }

       

    /* .menu{
            background-color: beige;
            border-bottom: 4px double blueviolet;
        } */